.title {
    font-family: "Intro Book", sans-serif;
    font-size: calc(0.8rem + 0.2vw);
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.08em;
    color: #B2B5BB;
    padding-top: 40px;
    padding-bottom: 30px;
}

.aTel {
    font-family: "Intro Regular", sans-serif;
    font-size: calc(1rem + 1.2vw);
    ;
    font-weight: 400;
    line-height: 42px;
    color: #444B58;
    margin-bottom: 10px;
}

.add {
    font-family: "Intro Book", sans-serif;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 400;
    line-height: 25.2px;
    color: #444B58;
}
.circle {
    width: 20px;
    height: 20px;
    background-color: #0057b3; /* Цвет кружка */
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-left: 10px; /* Отступ от телефона */
  }
  
  .tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Позиция текста относительно кружка */
    left: 50%;
    margin-left: -60px; /* Центрирование текста */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .circle:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  