.container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    height: 432px;
    gap: 10px;
    padding-bottom: 20px;
}

.cont {
    display: flex;
    flex-direction: column;
}

.img {
    width:95%;
    max-height: 120px;
    margin-bottom: 10px;
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 20px;
}

input[type="checkbox"] {
opacity: 0;

}

input[type="checkbox"]+span {
    width: 24px;
    height: 24px;
    border: 1px solid #DBBBA9;
    border-radius: 4px;
    margin-right: 10px;
}

input[type="checkbox"]:checked+span {
    border-color: #DBBBA9;
    background: url("/cbox.png");
    background-size: contain;

}

@media (max-width:888px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media (max-width:480px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

    
